- name: Installing Nginx
  ansible.builtin.dnf:
    name: nginx
    state: present

- name: Copy the Expense file
  ansible.builtin.copy:
    src: expense.conf
    dest: /etc/nginx/default.d/expense.conf

- name: Remove the old directory
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: absent

- name: Create the directory
  ansible.builtin.file:
    path: /usr/share/nginx/html
    state: directory

- name: download the content
  ansible.builtin.unarchive:
    src: https://expense-artifacts.s3.amazonaws.com/expense-frontend-v2.zip
    dest: /usr/share/nginx/html
    remote_src: true


- name: Start Nginx Service
  ansible.builtin.systemd_service:
    state: restarted
    name: nginx
    enabled: true